.Posts {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.Posts li {
  text-align: left;
}

.Posts .Title {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  text-align: left;
}