/* .App {
  margin: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #b63b3b;
  
}
@media screen and (max-width: 600) {
  .App {
    height: auto;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
  }
} */




/* .App {
  text-align: center;
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ball{
  height: 200px;
	width: 200px;
	position: absolute;
	top: 20px;
	bottom: 0;
	left: calc(50% - 100px);
	background-color: darkblue;
	border-radius: 50%;
}

 */
 /* .main{
  min-height: 100%;
 } */
