.grid {
    position: relative; /* Add this line */
    display: grid;
    grid-template-columns: repeat(50, 20px); /* Adjust the size of each column */
    grid-template-rows: repeat(50, 20px); /* Adjust the size of each row */
    gap: 1px; /* Adjust the gap between each node */
    top: 80px;
}

.row {
    display: flex;
}

.node {
    width: 20px; /* Adjust the width of each node */
    height: 20px; /* Adjust the height of each node */
    border: 1px solid #ccc; /* Border style */
}

.start {
    background-color: green; /* Color for start node */
}

.finish {
    background-color: red; /* Color for finish node */
}